*{
	box-sizing: border-box;
}
.main{
	width: 100%;
	display: flex;
	/*background: url(anthony-tuil-512016-unsplash.jpg);*/
	background-size: cover;
	background-color:#db856e;
	height: 100vh;
	justify-content: ;
	padding: 30px;
	justify-content: center;
	/*flex-wrap: wrap;*/

}
.div{
	/*order: 1;*/
	/*flex-basis: %;*/
	/*border: 2px solid red;*/
	color: white;
	font-weight: bold;
	padding: 30px;
	/*background: mediumpurple;*/
	/*margin: 20px;*/
    margin-right: 20px;


}
.div img{
	height: 300px;
	width: 300px;
	padding-left: 40px;
	transition: 1s;
	display: block;
    border-radius: 10px;

}
.div img:hover{
	transform: scale(1.2);
}

.one{
    /*flex-grow: 1;*/
}
.two{
   /*flex-grow: 1;*/
}
.three{
   /*flex-grow: 1;*/
}
.menu{
	width: 100%;
	height: 100px;
	background: yellow;
	
	
}
.right img{
	color: white;
	width: 300px;
	position: absolute;
	margin-top: 20px;
}
.left{
	padding: 30px;
	/*background: navy;*/

}
.left li{
	float: right;
	/*margin-left: 100%;*/
	list-style: none;
}
.left li a{
	text-decoration: none;
	font-size: 25px;
	font-weight: bold;
	color: navy;
	margin-right: 40px;
	border: 1px solid navy;
	padding: 10px;
	transition: 1s;
}
.left li a:hover{
	color: white;
	background: red;

}
@media (max-width: 600px) {
	.main{
		flex-wrap: wrap;
		height: auto;

	}
	.right img{
		width: 200px;
		margin-top: 30px;

	}
	.left{
		padding: 10px;
	}
	.left li{
		margin-top: 25px;	
	}
	.left li a{
		padding: 9px;	
		font-size: 15px;
		margin-right: 20px;	
	}
}
